@font-face {
    font-family: 'Joan', serif;
    font-family: 'Open Sans', sans-serif;
    src: url("assets/fonts/NuosuSIL-Regular.ttf");
    font-weight: 300;
}

* {
    box-sizing: border-box;
}
  
html {
	scroll-behavior: smooth; 	
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0; 
    padding: 0;
    min-height: 100vh;
    min-width: 320px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    background: url("assets/imagee.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; /* Фон занимает всю доступную площадь */
}
	
header{	 	
	background-color: #696969;	 	 
}
 
main{
	margin: 0 auto;
 }
 
footer{	 
	background-color: #696969;
	color: #FFFFFF;
	text-align: center;
	font-size: 19px;
	font-weight: bold;			 	 
 }

.container {
	max-width: 1440px;
    margin: 0 auto;
	min-height: 50px;
}
  
.nav-list {	  
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav-link{
	position: relative;
	padding: 0 40px;
	text-decoration: none;
	font-size: 30px;	
    line-height: 20px;
    color: #FFFFFF;
	text-align: center;
	transition: .3s;	
}

.nav a:hover {
    background: #ddd;
    color: #A9A9A9;
}
